.mainsec {
    display : flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}
.level .duration .courselogo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.subjectList  {
    display : grid;
    grid-template-columns : repeat(auto-fill, minmax(150px, 1fr));
    text-align: left;
    grid-gap : 10px;
  }
  .subjectList .subject{
    display : inline-flex;
    align-items: center;
    margin-right: 10px;
  }
  .subjectList input[type = "checkbox"]
  {
    margin-right: 5px;
  }
