label{
	display : block;
}
input[type = "password"]{
	width : 200px;
	padding : 10px;
}
input[type="submit"]:hover {
      background-color: #a7c957;
}
#submitbutton{
	margin : 20px;
	border-color : #a7c957;
}
.PagePassword{
	
	max-width: 400px;
	margin : 0 auto;
	padding: 32px;
}
body{
	background-color : #e0e1dd;
	background-image : url("images/tak.jpeg");
	background-repeat: no-repeat;
	background-size : cover;
}
.PagePassword{
	background-color : #e0e1dd;
	width: 900px;
	height : 400px;
	padding : 50px;
	margin: 20px;
}
.footer{
	clear : both;
}