
body {
    font-family: Arial, sans-serif;
    border-width: 10px;
    border-color:white;
    background-repeat:no-repeat;
    background-image:url("../image/n1.jpg");
    background-size:cover;
    margin:0;
  }
  .editPaymentForm input
     {
      width: 30%;
      padding: 8px;
      margin: 20px;
    }

    #submitBtn {
        display:block;
        width:150px;
        margin:auto;
        margin-top:20px;
        background-color:#0066CC;
        border:none;
        color:white;
        padding:0.5rem 1.2rem;
        text-align:center;
        text-decoration:none;
        font-size:1.15rem;
        border-radius:17px;
        cursor:pointer;
      }

      fieldset{

        background-color:none;
      }